/* Hilangkan native cursor */
body {
  cursor: none !important;
}

.custom-cursor-dot {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
}

.custom-cursor-click-text {
  position: absolute;
  top: 30px; /* Jauh di luar lingkaran */
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  text-shadow: 0 0 4px black;
  pointer-events: none;
}

.custom-cursor-circle {
  position: fixed;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.2s ease;
}

.custom-cursor-planet {
  position: fixed;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9998;
  animation: pop 0.2s ease-out;
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
